:root {
  --primary-color: #ececee;
  --dark-color: #2c2c2c;
  --details-color: #a9acb1;
  --green-button-color: #70c070;
  --error-message-light: #dd8e8e;
  --input-text-color:  #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  position: relative;
  z-index: 9999;

  table {
    position: relative;
    background: white;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid none;
  }

  th:nth-child(1) {
    text-align: left;
    width: 20%;
  }

  th:nth-child(2) {
    text-align: center;
    width: 60%;
  }

  th:nth-child(3) {
    padding: 0%;
    text-align: right;
    width: 8%;
  }

  th:nth-child(4) {
    padding-left: 0%;
    text-align: left;
    width: 11%;
  }

  th {
    padding: 2%;
  }

  .logo {
    font-weight: lighter;
    text-decoration: none;
    color: black;
    font-size: 2em;
  }

  .search_box {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 70%;
    border-radius: 5px;
    height: 60px;
    display: flex;
    padding: 2%;
    border: solid var(--primary-color);
    font-weight: lighter;

    .dropdown {
      position: relative;
      width: 40%;
      border-left: 2px solid var(--primary-color);
      color: black;
      cursor: pointer;

      .dropdownList {
        max-height: 135px;
        overflow-y: scroll;
      }

      .option {
        font-size: 16px;
      }

      .selected {
        font-size: 16px;
      }

      ul {
        position: relative;
        top: 88%;
        background: white;
        width: 109%;
        border-radius: 5px;
        padding: 20px;
        display: none;
        border: solid var(--primary-color);

        li {
          padding-bottom: 20px;
        }

        li:last-child {
          padding-bottom: 0;
        }

        li:hover {
          color: #6f768d;
        }
      }

      ul.active {
        margin-top: 20px;
        display: inline-block;


        li {
          font-size: 14px;
          text-align: center;
          width: 100%;
        }
      }
    }

    .dropdown:before {
      content: "";
      position: absolute;
      top: 30%;
      left: 85%;
      border: 8px solid;
      border-color: #000000 transparent transparent transparent;
    }

    .search_field {
      width: 60%;
      height: 100%;
      position: relative;

      .input {
        width: 100%;
        height: 100%;
        border: 0px;
        font-size: 16px;
        padding-left: 10%;
      }
    }
  }

  .inline_list li {
    display: inline;
  }

  .material-icons {
    padding-left: 4%;
  }

  .authentication_links {
    padding-left: 10%;

    ul > li + li {
      margin-left: 2%;
      padding-left: 4%;
      border-left: 1px solid var(--dark-color);
    }

    .authentication_link {
      text-decoration: none;
      color: var(--dark-color);
    }
  }
}

.input_field {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  border: solid var(--primary-color);
  font-size: 16px;
  text-align: center;
  font-weight: lighter;
}

label {
  display: block;
  font-size: small;
  color: var(--details-color);
}


.element_title {
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-color);
  a {
    text-decoration: none;
    color: black;
  }
}
